body {
    margin: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#map {
    height: 100vh;
    width: 100vw;
}

#menu-container {
    width : 300px;
    margin-left: 50px;
    height: 100vh;
    max-height: 100vh;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    text-wrap: nowrap;
    top: 0px;
    right: 0px;
    z-index: 1000;
    background-color: #202124;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Roboto', sans-serif;
    color: white;
    &:hover {
        width: 300px;
    }
}

h2 {
    padding-top: 20px;
}

hr {
    width: 70%;
}

.drone-container {
    width: 260px;
    padding: 10px;
    background-color: #343942;
    border-radius: 20px;
    transition: all 0.5s;
    &:hover {
        scale : 1.1
    }
}

.drone-container > h5 {
    width: 100%;
    text-align: right;
}

.drone-container > h5 > em {
    text-align: left;
}